
<div class="body-sig-log"> 
						<a href="/">Regresar a la home</a>

	<div class="container-log-sig">
		<div class="form-container sign-in-container">
			<form action="/users/{{user._id}}" method="POST">
				<h1>Adding your store details</h1>
				
						<span></span>
						<input type="text" name="Address" value="{{user.address}}" placeholder="Address" />
						<input type="text" name="Company" value="{{user.company}}" placeholder="Company" />
						<input type="text" name="Category" value="{{user.category}}" placeholder="Category" />
						<button type="submit">Save</button>
			</form>
		</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>User details</h1>
        <h3>User ID: {{user._id}}</h3>
        <h3>User name: {{user.name}}</h3>
        <h3>User email: {{user.email}}</h3>
				<a href="/stores/"> > Todas mis tiendas </a>
        <a href="/stores/create"> > Agregar tienda </a>
        <a href="/logout"> > Logout</a>
			</div>
		</div>
	</div>
</div>
</div>
