             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital-commerce-logo-new.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> SIGNUP </a> 
              <a class="logginbtn" href="/login"> LOGIN </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        

        <div class="info-stor-color"> 
          <div class="w60">
              <div class="p60"> 
                <section id="info-store-card"> 
                  <h2>Información de la tienda</h2>
                  <a href="/"><img class="logoImg-store" src="/uploads/{{store.imgStore}}"></a>
                  <p>Nombre: {{store.name}}</p>
                  <p>Dirección: {{store.address}}</p>
                  <p class="a-category">Categoría: {{store.category}}</p>
                </section>  
              </div>  
          </div>

          <div class="w100">
              <div class="p60"> 
                <section id="info-store-card"> 
                  <h2>Producto</h2>
                  <p>Nombre: {{dbProduct.name}}</p>
                  <p>Dirección: {{dbProduct.description}}</p>
                  <p>Categoría: {{dbProduct.quantity}}</p>
                </section>  
              </div>  
          </div>

        </div>