             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital-commerce-logo-new.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> Registrarse </a> 
              <a class="logginbtn" href="/login"> Ingresar </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">PAGINA PRINCIPAL</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        
<div class="c-pg"> 
        <div class="info-stor-color"> 
          <div class="w60">
              <div class="p60"> 
                <section id="info-store-card"> 
                  <h3 class="h3-ins">Información de la tienda</h2>
                  <a href="/"><img class="logoImg-store2" src="/uploads/{{store.imgStore}}"></a>
                  <p>Nombre: {{store.name}}</p>
                  <p><img id="map-icon"src="/img/location-icon.png">Dirección: {{store.address}}</p>
                  <p class="a-category">Categoría: {{store.category}}</p>
                  <p>{{store.products.name}}</p>
                  <p>{{products.name}}</p>
                                    <p>{{products}}</p>

                </section>  
              </div>  
          </div>

          <div class="w100">
              <div class="p60"> 
                {{#each store.products}}
                <section class="info-store-prod">

                  <div class="card-picprod">
                    <img class="pic-prod" src="/uploads/products/{{this.imgProduct}}">
                  </div>
                  
                  <div class="w100"> 
                      <h3 class="upperc">Producto: {{this.name}}</h3>
                      <p>Descrip: {{this.description}}</p>
                      <p>Precio: {{this.price}}Є</p>
                      <p>Cantidad: {{this.quantity}} </p>
                      <button>Comprar</button>
                  </div>

                </section>  
                 {{/each}}

              </div>  
          </div>

        </div>

    </div>