             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital-commerce-logo-new.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> SIGNUP </a> 
              <a class="logginbtn" href="/login"> LOGIN </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        
<div class="c-pg"> 
        <div class="info-stor-color"> 
          <div class="w60">
              <div class="p60"> 
                <section id="info-store-card"> 
                  <h3>Información de la tienda</h2>
                  <a href="/"><img class="logoImg-store" src="/uploads/{{store.imgStore}}"></a>
                  <p>Nombre: {{store.name}}</p>
                  <p>Dirección: {{store.address}}</p>
                  <p class="a-category">Categoría: {{store.category}}</p>
                  <p>{{store.products.name}}</p>
                  <p>{{products.name}}</p>
                                    <p>{{products}}</p>

                </section>  
              </div>  
          </div>

          <div class="w100">
              <div class="p60"> 
                {{#each store.products}}
                <section class="info-store-prod">

                  <div class="card-picprod">
                    <img class="pic-prod" src="/uploads/products/{{this.imgProduct}}">
                  </div>
                  
                  <div class="w100"> 
                      <h3>Producto</h2>
                      <p>Nombre: {{this.name}}</p>
                      <p>Descripción: {{this.description}}</p>
                      <p>Precio: {{this.quantity}}</p>
                      <p>Cantidad: {{this.price}}</p>
                      <button>Comprar</button>
                  </div>

                </section>  
                 {{/each}}

              </div>  
          </div>

        </div>

    </div>