             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital logo.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> Registrarse </a> 
              <a class="logginbtn" href="/login"> Ingresar </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">PAGINA PRINCIPAL</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        
        
        

<div class="c-bg"> 
        <section id="structure" class="container">
             <h3>Farmacias</h3>
             <div id="#categorias">
         {{#each stores}}
                <article class="service-box itm-ctr flex-dc">
                    <a href="/farmacias/{{this._id}}"><img class="logoImg-store"src="/uploads/{{this.imgStore}}"></a>
                    <a class="a-store" href="/farmacias/{{this._id}}">{{this.name}}</a>
                    <a class="store-d" href='/farmacias/{{this._id}}'>Ver productos</a>

                 </article>
         {{/each}}
        </section>
</div>
