
<h2>Edit Product</h2>
<form action='/products/{{product._id}}/edit' method='POST'>

    <label for=''>Name</label>
    <input type='text' name='name' value='{{product.name}}'>

    <label for=''>Description</label>
    <input type='text' name='description' value='{{product.description}}'>

    <label for=''>Quantity</label>
    <input type='text' name='quantity' value='{{product.quantity}}'>

    <label for=''>Price</label>
    <input type='text' name='price' value='{{product.price}}'>

    <button type='submit'>Save Changes</button>
</form>