<div class="vh100"> 
{{!-- <div class="info-create-str"> --}}
    <div class="card-to-prof"> 
              <div>
                     <a class="lg-hm-btm" href="/profile"> Regresar</a>
              </div>

              <div>
                     <a class="lg-hm-btm" href="/logout">Salir</a>
              </div>
      </div> 
    <div class="card-profile">
<h2>Editar el producto</h2>
<form action='/{{product._id}}' method='POST'>

    <label for=''>Nombre</label>
    <input type='text' name='name' value='{{product.name}}'>

    <label for=''>Descripcion</label>
    <input type='text' name='description' value='{{product.description}}'>

    <label for=''>Cantidad</label>
    <input type='text' name='quantity' value='{{product.quantity}}'>

    <label for=''>Precio</label>
    <input type='text' name='price' value='{{product.price}}'>
    
    <label for=''>Subir o Actualizar imágen</label>
    <input type="file" name="imgStore" accept = ".jpg, .jpeg, .png">
    <br>
    <img class="editlogo-store " src="/uploads/products/{{product.imgProduct}}"></a>

    <button type='submit'>Guardar los cambios</button>
</form>

</div>
</div>

