<h2>Informacion del producto</h2>


<p>Nombre: {{product.name}}</p>
<p>Descripcion: {{product.description}}</p>
<p>Cantidad: {{product.quantity}}</p>
<p>Precio: {{product.price}}</p>




<a href='/products/{{product._id}}/edit'>
  <button>Editar producto</button>
</a>